@using KKGGames_Labb2.Models
@model KKGGames_Labb2.Models.TicTacToeModel
@{
    ViewBag.Title = "Tic Tac Toe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article>
    <h2>Tic Tac Toe</h2>
    <h3>Winstreak: @Model.Winstreak</h3>

    @using (Html.BeginForm("Game", "TicTacToe", FormMethod.Post))
    {
        <table>
            @for (int y = 0; y < Model.Ymax; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.Xmax; x++)
                    {
                        if (Model.CellBoard[x][y] == Cell.Computer)
                        {
                            <td><button type="submit" name="chosenCell" value="@x,@y" class="cellComputer"> </button></td>
                        }
                        else if (Model.CellBoard[x][y] == Cell.Player)
                        {
                            <td><button type="submit" name="chosenCell" value="@x,@y" class="cellPlayer"> </button></td>
                        }
                        else
                        {
                            <td><button type="submit" name="chosenCell" value="@x,@y" class="cellEmpty"> </button></td>
                        }
                    }
                </tr>
            }
        </table>
    }

    <p>@Html.ActionLink("Go back to menu.", "Index", "Home")</p>
</article>